NEXT_PUBLIC_ALCHEMY_ID=
NEXT_PUBLIC_INFURA_GOERLI_API_KEY=
NEXT_PUBLIC_ERC20_TOKENS= custom ERC20 tokens contract address
NEXT_PUBLIC_CLAIMABLE_ADDRESS= <contract address in goerli test net>
NEXT_PUBLIC_STAKING_ADDRESS=<contract address in goerli test net>
NEXT_PUBLIC_NFT_1155_V1=<contract address in goerli test net>
NEXT_PUBLIC_NFT_EDITION_ADDRESS=<contract address in goerli test net>
NEXT_PUBLIC_NFT_EDITION_CLAIMABLE_ADDRESS=<contract address in goerli test net>
NEXT_PUBLIC_OWNER_ADDRESS=<deployer owner address in goerli test net>
NEXT_PUBLIC_FIREBASE_APIKEY= firebase sdk config val
NEXT_PUBLIC_FIREBASE_AUTHDOMAIN=firebase sdk config val
NEXT_PUBLIC_FIREBASE_DATABASEURL=firebase sdk config val
NEXT_PUBLIC_FIREBASE_PROJECTID=firebase sdk config val
NEXT_PUBLIC_FIREBASE_STORAGEBUCKET=firebase sdk config val
NEXT_PUBLIC_FIREBASE_MESSAGINGSENDERID=firebase sdk config val
NEXT_PUBLIC_FIREBASE_APPID=firebase sdk config val
NEXT_PUBLIC_FIREBASE_MEASUREMENTID=firebase sdk config val
NEXT_PUBLIC_HUGGING_FACE_API_KEY=
NEXT_PUBLIC_NFT_STORAGE_API_KEY=
NEXT_PUBLIC_PINATA_API_KEY=
NEXT_PUBLIC_PINATA_API_KEY_SECRET=
NEXT_PUBLIC_PINATA_JWT=
NEXT_PUBLIC_ENV= PROD|prod|DEV|dev


