@import 'src/css/variables.scss';

.container {
  border-bottom: 1px solid $gray;
  span {
    display: block;
  }
  .title {
    font-size: 1.25rem;
  }
  .subtitle {
    font-size: 0.85rem;
    margin-top: 0.8rem;
    color: $gray;
  }

  .content {
    margin: 3rem 0;
  }
}
