@import 'src/css/variables.scss';

.image-content {
  position: relative;
  margin: 0 auto;
  max-width: 800px;
  width: 500px;
  height: 500px;

  @media only screen and (max-width:$sm) {
    width: 100%;
  }

}