@import 'src/css/variables.scss';


@font-face {
  font-family: 'Just Sunday';
  src: url('/fonts/Just-Sunday.ttf');
  font-weight: 500;
  font-style: normal;
}

:root {
  max-width: $max-width;
  margin: 0 auto;
  font-family: 'Mulish', sans-serif;
  background-color: $light-bg;
  @media screen and (max-width: 768px) {
    padding: 0 10px;
  }
}

.content {
  margin: 5rem 0;
}

.hand {
  cursor: pointer;
}

[data-theme='dark'] {
  background: $dark-bg;
  color: $dark-color-text;
}

.subtitle {
  font-size: 0.85rem;
  font-weight: bold;
  color: $gray;
}
