@import 'src/css/variables.scss';

.container {
  position: relative;

  .chip {
    position: absolute;
    top: 2%;
    right: 2%;
    font-size: 0.9rem;
    font-weight: bold;
    padding: 0.25rem 0.5rem;
    border-radius: 25px;
    background-color: $light-bg;
    color: $dark-bg;
  }
  span {
    display: block;
  }
  &:hover .button {
    display: block;
  }
  &:hover .empty-button {
    display: none;
  }
  img {
    width: 100%;
    height: 275px;
    border-radius: 10px 10px 0 0;
  }
  footer {
    margin-top: -5px;
    border-radius: 0 0 10px 10px;
    box-shadow: rgb(0 0 0 / 8%) 0px 4px 15px;
    .container {
      padding: 1.5rem;
      padding-bottom: 0;
      display: flex;
      justify-content: space-between;
      font-weight: bold;
      .price {
        font-size: 1.1rem;
        margin-top: 1rem;
      }
    }
  }
  .diamond-rare {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
  }

  .quantity-tokens {
    font-size: 0.8rem;
  }
}

.empty-button {
  margin-top: 0.5rem;
  padding: 0.5rem 1rem;
}

.button {
  display: none;
  background-color: $primary;
  border-radius: 0 0 10px 10px;
  margin-top: 0.5rem;
  padding: 0.5rem 1rem;
  color: $dark-bg;
  font-weight: bold;
  cursor: pointer;
}
