.container {
  margin: 4rem 0;
  .nft-content{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width:500px;
  }

  input {
    padding: 1rem;
  }

  .input-nft-name {}

  .input-description {}
}