@import 'src/css/variables.scss';

$radius-image: 0.5rem;

.container {
  margin: 4rem 0;

  .icon {
    font-size: 1.5rem;
    cursor: pointer;

  }

  .section-panel {
    margin-top: 3rem;
  }

  .text-area-container {
    margin: 5rem 0;
  }

  .nft-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    @media only screen and (max-width:$sm) {
      width: unset;
    }
  }

  input {
    padding: 1rem;
  }



  .input-nft-name {
    width: 500px;
    margin: 0 auto;
    padding-bottom: 2rem;

    @media screen and (max-width:$sm) {
      width: 90%;
      margin: 0;

    }

  }

  .info-text {
    margin-left: 1rem;
    font-size: 0.75rem;
    color: $gray;
  }

  .input-description {
    margin-top: 2rem;
    box-shadow: rgb(0 0 0 / 8%) 5px 9px 15px;
  }

  .example-chips-container {
    margin-top: 3rem;

    .example-chips-content {
      display: flex;
      gap: 1rem;
      flex-wrap: wrap;
      margin-top: 1rem;
    }
  }

  .image-nft-container {
    width: fit-content;
    margin: 0 auto;
    position: relative;

    @media only screen and (max-width:$sm) {
      width: 100%;
    }

    &:hover {

      .mint-button,
      .action-container-button {
        display: block;
      }
    }

    .image-nft {
      img {
        border-radius: $radius-image;
      }
    }

    @mixin absolute-bottom {
      position: absolute;
      bottom: 0;
      display: none;
      width: 100%;
      margin: 0 auto;

    }

    @mixin mint-button-container {
      border-radius: 0 0 $radius-image $radius-image;

      @media only screen and (max-width:$sm) {
        width: 100%;

      }
    }

    .mint-button {
      @include absolute-bottom();
      @include mint-button-container();

    }

    .action-container-button {
      @include absolute-bottom();

      .action-content {
        display: flex;

        .input {
          width: 25%;
          background-color: $gray-200;
          border: unset;
          border-radius: 0 0 0 $radius-image ;
          color: black;
          font-weight: bold;

          &:focus-visible {
            outline: 0px;
            -webkit-appearance: none;
            box-shadow: none;
          }
        }

        .mint-button-input {
          border-radius: 0 0 $radius-image 0;
          width: 100%;
          box-shadow: unset;

        }
      }
    }
  }

}